dist: trusty
sudo: required
language: python
python: '3.5'
addons:
  apt:
    packages:
    - curl
    - python-pip
    - libssl-dev
    - python-dev
    - jq
env:
  global:
  - PACKER_VERSION=1.2.1
  - OS_AUTH_URL=https://auth.cloud.ovh.net/v2.0
  - OS_ENDPOINT_TYPE=publicURL
  - OS_INTERFACE=public
  - OS_IDENTITY_API_VERSION=2
  - OS_REGION_NAME=SBG3
  - secure: EVTok+1/Rzq/b5IZLnomCKWcOKXF9Y5M5Ewo3gpl/ssArU++SkBHazhvzx9T/SPoqj98lNJyF6SnnQXXd32f2mLWybLCIDeJopPhz8b2qHPUH1RldwFlPWOXH1rvg1RyP9rJdim0/X+uWBYCIxdo1w4sK3D4aNm818esEiKCI4g+ngR3u2ztU4PyGnbDFORE8vzVKSDVxwDeNwmLbud0/8lf7M829MWmic4QqFiz+ORe0IVX+ayhIYPL0uDJknQ5m9mezyKdOvtrEZHVatUurSe4Hr8szaxajshGh1/ZcBwh4fokXgMjOd9Sp2DnXU+FcmTZNG0yGb/fnZpSkZAh2R17Vbw2wDWeFxibD0FannxjRfOQyIxeznuoTYnlCIetBg+SkySw0PzBkDvvEr0bIysclaIfIF9WiGJmsax1JYlzvRxKoQmzzkZZeh3Gj/WvjQ/s7BDfCQTBDbffyG9ZOscLj6R90TNAU9Pns4k2ogM59eeYOnwsPP5xoLuJ0lZs/PILiRTEwBG6g8ivkG5ICxkstwHyuiyNhYvjCjvgMa0IcPXlQfgjuS+1YPb6HBM0JcK6c4fC5xIfSCiBq/e6U8FycsqQP8JhHyjwFFGpk+BUF8USJxROXW8TQqCjr+O60xF8BWAeVcWdRKzfglKHcTLhI89JulH2gjp3AVRDm3c=
  - secure: qQrK520uGBl8lUSBgmhR2xmG3EyWodSyA6FZqesXeLqcF7rwc+Mtth2rb86nZH6d5RJUJbRC27jy63A0RrHOQkUd+6Yzh+yEMCSaZFNq2+p+I22K2V5AR04Z0XNODuMJfT4u35HaCv/PuIxBvWe9Bhi0LV/t/Q+3XE9WWEWrjCcPIWcgjJs3wM1t8D7b8LC3lai8AKrn8LQJb7T9oVFOfRWBNBI9vd8kBEkliM8rXyiZ7TMbzz2TeZgSwpfzEtPO8fkHlBJ8kRyNpKuMA6TpP1Lxvv8lYXfFC+kM78o+QlU+kUsi0wgC3mOcxFaCx9jQPWTYJEayvckCZYcwV/RiPho+cwljK/K5skdiz9ZZsvFVmdDCzCNjgmXlyXvpqIWaMqtFEiSfYV3fJ5XS7Pc6zzMn+yh3whPCa5YrvUaGxBnqtWT/mLFdmB4FzYsVTplngjpzB/O+f/4XLnGdy09L8AWuSuKIl71YMtFWWbdRkJMDGqABKNkzzRGqmdWhJeUnBc3/wmg43ShtHKCven3cLkKcIq7/BYuQ5dQeDMlR47CWf9NPOvygz+F/rtkXY4OVvsZE7UTBDTZHP0IrqniDBk9BrFDDAolentq0nItkUJzYhG4LezyKSgdgrtN1BkMxMJzgD3h25YUs1/A8s7U3bYC72a9obCHJEZWBXwdlhO4=
  - secure: qFQi16eCwUVDQlrxoI2OVz1WPO/gKLjKgXrVG1YUVXIliuQ0KW+j5MeeessdyW7Ocz6lrhepSWx5gJ7A/pKrvCLrE+VC4BAMaIubg8tYxXeHRq2k8UhTl0QGAA0KHaURho2xlYjeAJm0nN5vUGgSJ7vwq3VPOnxy1uFkRyKl5zy57z06e1kifJGSJWe1K3Vrl19tQKTDyrOLalgjkVKXCB9KVBrIJfyN5DYTwXHmKPYRr+pDHPLRiJuOQx0ount5PwQGQmYi0OrEwJh4h1GdDigS0tN2/GmdpPsJDRYXLVuin2m2rSmdF6cAu7KCOeV6beL9pK9RZ2HLnli3Mtc4rWCfKPnOYCvH7NpJZ3hyXSTHyAcUgLYNxCH7oI6KP/kTXWGkldrli+840Ungckrb8IkblVZMlX+SDERghCnUjCIRQGKkDHtpl1GwsMOp7KC/kbV/KTaiZsFd1Qg3nGe49i29q0EMOzgwfi8N/CUPtM6/7CSgMl9tWWYoQNgy9bdxHbezuTH/mKei2ogN2cQdb7xfEOik3ObwHk+6qG/76vAQ8fog0lx1Xw0zyeNdP4c8JRQmL7GIBIUgMbU4K/mVf6kRr3fZ4Uy4i2GG8ZkUDlL+k3niW4gWGS5lrBZa9copuKpBJdvViX2kRnlgdNgRMzVBeyS0MBqd1mhKeey/H8Y=
  - secure: uSAmP44GnkA7ZI3J3sAb/lZJbwOV3Cum1LbB1cUZLhv4TTSaaHCRGqKUvvN4E3cL6XzBwqqt9NKujrz8npk1mpd8rqzagAqDmP1EQeqamrXiBzAwD5JNcM9T7N84DdtqWvSha8GHSbWnReaipTZTtKXh/cppIPvErI9uUshe3mmLaqnX8y/acjUcbsmhU4M44IuPJ77qqH8EMJq9GbLFF5cefKZUIW22p8/zU2rb3w/siLpsEnnyhaWt4cXUEU/782aPLWCSGbff3NL6AqUd5N6MKrv5qLdvsP98IsmSESX5ll+x59ySsohH24IWWFLTrRGFAnTY5esYoaHFaxp/qZjrOX0BiFek08IXFvbRVfJ06TobzfeXTmdGeS58SwyXYB1SUHKnG6OVurgejoRoYFTpnvkB6kEED+NSyeME1QMG3UkqcGcc0T9AI3Fye42H+95yHh6TNAPmu8wgjd/7Y/F1Gy/FJbHe52eZgcoqkEe3+lFvAtDyGL/yLbN++4yYMXajWaxHMJq4UANqvV9hi+uTTxO/3aaKnE9tZky4ftaGJ6KxDGaOCzIF9C91DEx9RLVzBjz78pUNbCYExhIGcqeC4w+mcjlgnerFv/z9N3NB0LQLlacRik7osyZgLSat6K5/dJNDU4J0n2QTIEvq+4yQZL4fwq004Mt7ZbQtcoc=
  - secure: MUmPmw9+4UkEEUPg4lgKaBH03QvbWPsE4FmMT3flmcJzIy1kWsh37aVoyFoe24R+AE0/2fSs5yEUuv7MeR3e11pL/1nKE/Ev6NZg8yfZq54W0bm2aG7FRhfIri/WVRLtFYcPT7aSUido+9TSV+mTUUCAbNY2+Q0N1WUhWrEEGVOr5jVu1gI52n4GmolxXf5Ber4vmIb2mI0I1ai/OVZ1+2sgyvcUg9/r6kRW4ZuAR9q6wDMpBnQ+cQOVbCY+J/Df4WApxGr01+B/sSEXRFmHItSLT8BW4U984nwJmzFpByKVjTiXRwIswD7fsvg1DqPPGk5YZlCdf+ScN+kywUhxgvz5ajxncoZJ+ouGQCmI1KzZIDKLHjVLSCtHSpiLSf5crpsuqAoWcSTG/swGoASk9MeJFeWOMjrqPxtGb+nrZxPeSgz2go2EXsBRcLrBj/IOC6i4kLJUthm/ZwVtFxbJvfatdXQXEW2PZ/SLVoP5dFwdOq0/55J3AwjLZy3hhY1MfjWqam6omfzCwA+6PDW2o10iTTMUMqlyIvXpw0VYgCB7xdGzUk6FcMC1TfVWKHWyCldfgCWJpZLNbtKG+saTCzZeVzIku/c0vf6mm87Wr8o4twgzdHwzLvABBdBzoxAT2QMr6QUcm3cpemyouxtLb0YxkI7h0R7SiOE4Y5aaNVo=
  - secure: m/V8tVm0HwCYnk91MRgU2XmbaPUNDxl96HlubZEcjn1G2NvlIrr7y9kLjbQepOgsNH261Vxom4eMVGvKf4yGmd7yLfAMFjCzc1Fz4G8gDSoK0yU8TZMFaEqdXpp7P7XiZbDJnFTlN5Lc4q8jksStx+E4gnqUqXwqL9xeZVoi91PduP3wBA+N6qxd5yGy7NHmVfJZB51HpW9W7zUJ+vubJ9ch9XOJLYrqbFK+zCplx+ayMQ5q64p7IijPlYnCXudPw9Mn1fhNNsHe0s5xddMaxACldmol4iqZlvtuOaA3IVrYyxmOgwTgsHiUl4kCduC/2nMsAlxbrk1V8G4z1/+QFEFQrmQV2ZG/p9wRYz+FPCo1ilrjUZbypU93iLwuQFO+1lOdqcIYVxYUIuJ56/+0C/AqwQ1w56BRVb0S+LsU+ROszHIHeDOJtL6b6cLMG72VRPs6BaOgDDEqyne8floOThhLnAhcmPw2t/ikvyEJfqIkCtrDTL+Tq/zydXCl/y3GK5lmI9D89ERQ29hu78iDj6jedmHO9XlSbbLTf9ACj8UIOrmLXidKv5YhicsVFZV7c61LnkPAx7VUdEcuI0gpiXzaFnUKpPFkkLNuvhy/0hHe3Tr5EUmJ4CUk9rHiiKTHyDL6YiGVK7zjpzBRkZ6ggydOp09NeZz7SFPKelI9/6U=
  - secure: A3NC4fZxVqo4Axy8dLmp8hfJXPpc+wLx0iOVuDQYxfGbA4i6fAmVOIUYVjmd/VmhtEKb+gcveuThI6zrzbi2YFboPqFkB+iKZHmv6rBRRXISES0Gqapm2DyWxUgEBIePrldJehZnVZd+Ykl6q4M/jPCgw3lPC3fl6+S1twcwgAbiu7/a0dplW5IvjO9tQ9yKN9wWgcPQjQBwDq3LeUPaFpVty0OGMUcYNdrjJOP7Ov3kBuQg2mYFwZffz3EsE0QllIYhoagiu8Yjyc7ZAMddi7C5j1AJTyOLxhLTibAl0LaLlNnhTNI34bszotNhVt+bp2DtagPZscS4PV8ayx99zvd9Rnn72nlGNTeQXDVg6XA9gJcHKJ9BTepNLsm7FYB4IA8eiyGdOUc2dP2Q84L25PKe4+nz9BHvAq5FHXeo4pjQonFiY+sfM/beIGrjQ82Rh9mIBKuyK9oOSnys0ogtFYIkljP39zq0v9TgXJyCNTX06L0hI6EMD8f1OrQZcg1Ncrp89/XlTVya5mhpdZkCIuPj46KGGdThSHqw36WIG9EhLFvKep2rfdOvll2vexRYP64DmOyhG/+8A/+CqDym7P8Zq2Zx3EYWLMfQNW4YzQFnjNXeXdWDldDaFG27suAhhfX6I+G/Fjr/2C4O5cem0pcY0FFI8MNc0rQwqnkYIeA=
before_install:
- openssl aes-256-cbc -K $KEY -iv $IV -in .ovh.travis.gpg.enc -d -a -out .ovh.travis.gpg
- "./test/travis_setup.sh"
install:
- pip install jinja2 cffi ansible
jobs:
  include:
  - stage: common
    script: test/run.sh $IMAGE $OS_REGION_NAME && test/publish.sh "$(jq -r '.variables.image_name' $IMAGE)" $OS_REGION_NAME
    env: IMAGE="packer-common.json"
  - stage: images
    script: test/run.sh $IMAGE $OS_REGION_NAME
    env: IMAGE="packer-guacamole.json"
  - script: test/run.sh $IMAGE $OS_REGION_NAME
    env: IMAGE="packer-kerberos.json"
  - script: test/run.sh $IMAGE $OS_REGION_NAME
    env: IMAGE="packer-mysql.json"
  - script: test/run.sh $IMAGE $OS_REGION_NAME
    env: IMAGE="packer-ambari.json"
  - stage: publish
    script: test/publish.sh "$(jq -r '.variables.image_name' $IMAGE)" $OS_REGION_NAME
    env: IMAGE="packer-guacamole.json"
  - script: test/publish.sh "$(jq -r '.variables.image_name' $IMAGE)" $OS_REGION_NAME
    env: IMAGE="packer-kerberos.json"
  - script: test/publish.sh "$(jq -r '.variables.image_name' $IMAGE)" $OS_REGION_NAME
    env: IMAGE="packer-mysql.json"
  - script: test/publish.sh "$(jq -r '.variables.image_name' $IMAGE)" $OS_REGION_NAME
    env: IMAGE="packer-ambari.json"
stages:
- common
- images
- publish
branches:
  only:
  - master
if: tag IS present